<h1>Get your currency exchange rates here</h1>

<p>Pick the currency types you whish to see exchanges rates between!</p>

<div class="form-group">
    <label for="">From currency:</label>
    <select class="form-control" name="test" [(ngModel)]="fromCurrency">
       <option [value]="'DKK'" [selected]="fromCurrency =='DKK'">DKK</option>
       <option [value]="'USD'" [selected]="fromCurrency =='USD'">USD</option>
       <option [value]="'EUR'" [selected]="fromCurrency =='EUR'">EUR</option>
    </select>
</div>

<div class="form-group">
    <label for="">To currency:</label>
    <select class="form-control" name="test2" [(ngModel)]="toCurrency">
       <option [value]="'DKK'" [selected]="toCurrency =='DKK'">DKK</option>
       <option [value]="'USD'" [selected]="toCurrency =='USD'">USD</option>
       <option [value]="'EUR'" [selected]="toCurrency =='EUR'">EUR</option>
    </select>
</div>

<button id="currencyExchangeBtn">Get currency conversion</button>

<p>The exchange rate from {{ fromCurrency }} to {{ toCurrency }} is: {{currencyExchangeResponse}}</p>
<p>Meaning that 100 DKK can be converted to: {{ 100 * currencyExchangeResponse }} USD</p>
